@font-face {
  font-family: "Hellovetica";
  src: url("./fonts/hellovetica-webfont.eot");
  src: url("./fonts/hellovetica-webfont.eot") format("embedded-opentype"),
    url("./fonts/hellovetica-webfont.woff") format("woff"),
    url("./fonts/hellovetica-webfont.ttf") format("truetype"),
    url("./fonts/hellovetica-webfont.svg") format("svg");
}

@font-face {
  font-family: "Fipps";
  src: url("./fonts/fipps-regular-webfont.eot");
  src: url("./fonts/fipps-regular-webfont.eot") format("embedded-opentype"),
    url("./fonts/fipps-regular-webfont.woff") format("woff"),
    url("./fonts/fipps-regular-webfont.ttf") format("truetype"),
    url("./fonts/fipps-regular-webfont.svg") format("svg");
}

@font-face {
  font-family: "8-bit-pusab";
  src: url("./fonts/8-bit-pusab-webfont.eot");
  src: url("./fonts/8-bit-pusab-webfont.eot") format("embedded-opentype"),
    url("./fonts/8-bit-pusab-webfont.woff") format("woff"),
    url("./fonts/8-bit-pusab-webfont.ttf") format("truetype"),
    url("./fonts/8-bit-pusab-webfont.svg") format("svg");
}

@font-face {
  font-family: "Minecraftia";
  src: url("./fonts/minecraftia-regular-webfont.eot");
  src: url("./fonts/minecraftia-regular-webfont.eot")
      format("embedded-opentype"),
    url("./fonts/minecraftia-regular-webfont.woff") format("woff"),
    url("./fonts/minecraftia-regular-webfont.ttf") format("truetype"),
    url("./fonts/minecraftia-regular-webfont.svg") format("svg");
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  #sidebar {
    visibility: hidden;
  }
  #main {
    grid-template-columns: 1fr;
    grid-template-areas: "viewport";
  }
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Minecraftia;
  padding: 30px;
  color: #0ee027;
  background-color: black;
  text-shadow: #0ee027 0 0 0.8rem;
  align-content: center;
  justify-content: center;
  text-align: left;
  text-justify: center;
  align-items: center;
  justify-items: center;
}

#root {
  width: 90%;
  height: 90%;
  /* position: fixed; */
  /* overflow: scroll; */
  min-width: 400px;
  margin: 0px;
}

.App {
  /* display: flex; */
  width: 1fr;
  height: 1fr;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: Fipps;
  margin: 0px;
  font-size: 72px;
  padding: 20px;
}

h2 {
  font-family: 8-bit-pusab;
  font-size: 1.2em;
  padding: 10px;
  margin: 0px;
}

h3 {
  margin: 2px;
  font-family: 8-bit-pusab;
  font-size: 24px;
}

h4 {
  margin: 2px;
  font-family: 8-bit-pusab;
  font-size: 20px;
}

h5 {
  margin: 0px;
}

p {
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  margin: 8px 0px;
}

textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: inherit;
  opacity: 0.5;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: inherit;
  opacity: 0.5;
}

textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

button {
  font-family: inherit;
  font-size: inherit;
  text-shadow: inherit;
  outline: none;
  color: inherit;
  margin: 0px;
  border-width: 2px 4px 4px 2px;
  border-style: solid;
  border-color: inherit;
  padding: 2px;
  background-color: inherit;
  display: inline-block;
  color: #0ee027;
}

button:hover {
  color: black;
  background-color: #0ee027;
}

button:active {
  position: relative;
  top: 1px;
  color: black;
  background-color: #0ee027;
}

button:disabled {
  opacity: 0.5;
}

button:hover:disabled {
  color: inherit;
  background-color: inherit;
}

#buttontext {
  margin: 8px;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-image: url("./assets/lines.png");
  background-size: 0.1rem 0.2rem;
  animation: flicker 0.15s infinite;
}

#masterwindow {
  margin: 20px;
  padding: 0px;
  /* width: 100%; */
  height: 1000px;

  border-color: #0ee027;
  border-style: solid;
  border-width: 4px;
  -webkit-filter: blur(0.75px);
  -moz-filter: blur(0.75px);
  -o-filter: blur(0.75px);
  -ms-filter: blur(0.75px);
  filter: blur(0.75px);
  filter: hue-rotate(0deg);
  /* filter: grayscale(100%) brightness(200%); */
}

#windowbar {
  display: grid;
  grid-template-columns: 1fr 50px;
  height: 42px;
  border-bottom: solid 4px;
}

#windowbarcontent {
  height: 42px;
  background: url(./assets/dither1_trans.png);
  background-repeat: repeat;
  background-size: 8px 8px;
}

#windowtext {
}

#windowbarclosebtn {
  font-family: 8-bit-pusar;
  height: 42px;
  border-left: 4px solid;
  text-align: center;
  text-justify: center;
}

#windowcontent {
  display: grid;
  grid-template-rows: 1fr;
  margin: 8px;
  display: grid;
  grid-template-rows: 140px 42px 1fr;
  grid-gap: 8px;
  height: inherit;
  /* max-height: inherit; */
  width: 1fr;
  overflow: hidden;
}

#header {
  border-style: solid;
  border-width: 2px;
  width: 100%;
}

#logo {
  margin: 8px;
}

#navbar {
  display: flex;
  /* grid-template-columns: 150px 150px 150px 150px 1fr 150px;
  grid-template-areas: "home articles topics about blank options";
  grid-gap: 0px; */
  border-style: solid;
  border-width: 2px;
  padding: 0px;
}

.navbutton {
  width: 120px;
  color: inherit;
  margin: 0px;
  background-color: transparent;
  border-right: 2px solid;
  display: inline-block;
  cursor: pointer;
  color: #0ee027;
  font-family: Fipps;
  text-decoration: none;
  text-align: center;
  text-justify: center;
}
.navbutton:hover {
  color: black;
  background-color: #0ee027;
}
.navbutton:active {
  position: relative;
  top: 1px;
}

#homebutton {
  grid-area: home;
}
#articlesbutton {
  grid-area: articles;
}
#topicsbutton {
  grid-area: topics;
}
#aboutbutton {
  grid-area: about;
}
#optionsbutton {
  grid-area: options;
}

.reactlink {
  color: inherit;
  text-decoration: none;
}

#main {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-areas: "sidebar viewport";
  grid-gap: 5px;
  padding: 0px;
  overflow-y: scroll;
  scroll-behavior: auto;
  padding-right: 8px;
  height: 92%;
}

#sidebar {
  height: 1fr;
  grid-area: sidebar;
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

#viewport {
  grid-area: viewport;
  display: grid;
  grid-gap: 8px;
  width: 1fr;
}

#main::-webkit-scrollbar {
  width: 20px;
}

#main::-webkit-scrollbar-track {
  border: 2px solid;
  margin-left: 8px;
}

#main::-webkit-scrollbar-thumb {
  background: #0ee027;
}

#main::-webkit-scrollbar-button {
  background: #0ee027;
}

#home {
  border-style: solid;
  border-width: 2px;
}

#hometitle {
  font-family: Fipps;
  padding: 12px;
}

#homepagebody {
  padding: 16px;
}

#featuredarticle {
  padding: 16px;
}

#articleshome {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

#articletitle {
  font-family: Fipps;
  padding: 0px 0px 12px 0px;
}

#singlearticle {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

#singlearticletitle {
  font-family: Fipps;
}

#articlesubtitle {
  padding: 12px;
  border-bottom: 2px solid;
}

#singlearticlebody {
  padding: 16px;
  /* border-bottom: 2px solid; */
}

#votesbar {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 100px 50px 1fr;
  padding: 8px 8px 8px 0px;
  text-align: center;
  text-justify: center;
  justify-content: center;
  align-content: center;
}

#votesbar > div {
  text-align: center;
  text-justify: center;
  justify-content: center;
  align-content: center;
}

.articlecard {
  padding: 8px;
  border-style: solid;
  border-width: 2px;
}

#commentslist {
  border-top: 2px solid;
  padding: 12px;
}

.commenttextinput {
  background-color: inherit;
  border-style: solid;
  border-color: inherit;
  border-width: 2px;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 99%;
  height: 100px;
  text-overflow: clip;
}

#submitcommentbutton {
  margin: 12px 0px 0px 0px;
}

#commentstitle {
  font-size: 16px;
}

#commentcard {
  margin: 12px 12px 12px 60px;
  padding: 12px;
  border: 2px solid;
}

#topicshome {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
  height: 1fr;
}

#topictitle {
  font-family: Fipps;
  padding: 0px 0px 12px 0px;
}

.topiccard {
  padding: 8px;
  border-style: solid;
  border-width: 2px;
}
