@font-face {
  font-family: "Hellovetica";
  src: url("./fonts/hellovetica-webfont.eot");
  src: url("./fonts/hellovetica-webfont.eot") format("embedded-opentype"),
    url("./fonts/hellovetica-webfont.woff") format("woff"),
    url("./fonts/hellovetica-webfont.ttf") format("truetype"),
    url("./fonts/hellovetica-webfont.svg") format("svg");
}

@font-face {
  font-family: "Fipps";
  src: url("./fonts/fipps-regular-webfont.eot");
  src: url("./fonts/fipps-regular-webfont.eot") format("embedded-opentype"),
    url("./fonts/fipps-regular-webfont.woff") format("woff"),
    url("./fonts/fipps-regular-webfont.ttf") format("truetype"),
    url("./fonts/fipps-regular-webfont.svg") format("svg");
}

@font-face {
  font-family: "8-bit-pusab";
  src: url("./fonts/8-bit-pusab-webfont.eot");
  src: url("./fonts/8-bit-pusab-webfont.eot") format("embedded-opentype"),
    url("./fonts/8-bit-pusab-webfont.woff") format("woff"),
    url("./fonts/8-bit-pusab-webfont.ttf") format("truetype"),
    url("./fonts/8-bit-pusab-webfont.svg") format("svg");
}

@font-face {
  font-family: "Minecraftia";
  src: url("./fonts/minecraftia-regular-webfont.eot");
  src: url("./fonts/minecraftia-regular-webfont.eot")
      format("embedded-opentype"),
    url("./fonts/minecraftia-regular-webfont.woff") format("woff"),
    url("./fonts/minecraftia-regular-webfont.ttf") format("truetype"),
    url("./fonts/minecraftia-regular-webfont.svg") format("svg");
}

body {
  font-family: Minecraftia;
  padding: 30px;
  color: #0ee027;
  background-color: black;
  text-shadow: #0ee027 0 0 0.8rem;
  align-content: center;
  justify-content: center;
  text-align: left;
  text-justify: center;
  align-items: center;
  justify-items: center;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-image: url("./assets/lines.png");
  background-size: 0.1rem 0.2rem;
  animation: flicker 0.15s infinite;
}

#masterwindow {
  width: 1190px;
  border-color: #0ee027;
  border-style: solid;
  border-width: 4px;
  -webkit-filter: blur(0.75px);
  -moz-filter: blur(0.75px);
  -o-filter: blur(0.75px);
  -ms-filter: blur(0.75px);
  filter: blur(0.75px);
}

#windowbar {
  display: grid;
  grid-template-columns: 1fr 50px;
  height: 42px;
  border-bottom: solid 4px;
}

#windowbarcontent {
  height: 42px;
}

#windowbarclosebtn {
  font-family: 8-bit-pusar;
  height: 42px;
  border-width: 2px;
  border-left: solid;
  text-align: center;
  text-justify: center;
}

h1 {
  font-family: Fipps;
  margin: 0px;
  font-size: 72px;
  padding: 20px;
}

h2 {
  font-family: 8-bit-pusab;
  font-size: 1.2em;
  padding: 10px;
  margin: 0px;
}

h3 {
  margin: 2px;
  font-family: 8-bit-pusab;
  font-size: 24px;
}

h4 {
  margin: 2px;
  font-family: 8-bit-pusab;
  font-size: 20px;
}

h5 {
  margin: 0px;
}

p {
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 8px 0px;
}

#windowcontent {
  margin: 8px;
  display: grid;
  grid-template-rows: 220px 42px 1fr;
  grid-gap: 8px;
  height: 1fr;
}
#windowcontent > div {
  /* padding: 8px; */
}

#header {
  border-style: solid;
  border-width: 2px;
}

#logo {
  margin: 8px;
}

#navbar {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 1fr;
  grid-gap: 5px;
  border-style: solid;
  border-width: 2px;
  padding: 0px;
}

.navbutton {
  color: inherit;
  margin: 0px;
  background-color: transparent;
  border-right: 2px solid #0ee027;
  display: inline-block;
  cursor: pointer;
  color: #0ee027;
  font-family: Fipps;
  text-decoration: none;
  text-align: center;
  text-justify: center;
}
.navbutton:hover {
  background-color: transparent;
}
.navbutton:active {
  position: relative;
  top: 1px;
}

.reactlink {
  color: inherit;
  text-decoration: none;
}

#main {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 5px;
  padding: 0px;
}
#main > div {
  /* padding: 8px; */
}

#sidebar {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
  height: 1fr;
}

#viewport {
  display: grid;
  grid-gap: 8px;
}

#articletitle {
  font-family: Fipps;
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

#singlearticle {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

#singlearticletitle {
  font-family: Fipps;
}

#articlesubtitle {
  padding: 12px;
  border-bottom: 2px solid;
}

#singlearticlebody {
  padding: 16px;
  border-bottom: 2px solid;
}

#singlearticlefooter {
  padding: 12px;
  border-bottom: 2px solid;
}

#topictitle {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

.articlecard {
  padding: 8px;
  border-style: solid;
  border-width: 2px;
  padding: 8px;
}

#commentslist {
  padding: 12px;
}

#commentstitle {
  font-size: 16px;
}

#commentcard {
  margin: 12px 12px 12px 120px;
  padding: 12px;
  border-bottom: 2px solid;
}
