@font-face {
  font-family: "Hellovetica";
  src: url("./fonts/hellovetica-webfont.eot");
  src: url("./fonts/hellovetica-webfont.eot") format("embedded-opentype"),
    url("./fonts/hellovetica-webfont.woff") format("woff"),
    url("./fonts/hellovetica-webfont.ttf") format("truetype"),
    url("./fonts/hellovetica-webfont.svg") format("svg");
}

@font-face {
  font-family: "Fipps";
  src: url("./fonts/fipps-regular-webfont.eot");
  src: url("./fonts/fipps-regular-webfont.eot") format("embedded-opentype"),
    url("./fonts/fipps-regular-webfont.woff") format("woff"),
    url("./fonts/fipps-regular-webfont.ttf") format("truetype"),
    url("./fonts/fipps-regular-webfont.svg") format("svg");
}

@font-face {
  font-family: "8-bit-pusab";
  src: url("./fonts/8-bit-pusab-webfont.eot");
  src: url("./fonts/8-bit-pusab-webfont.eot") format("embedded-opentype"),
    url("./fonts/8-bit-pusab-webfont.woff") format("woff"),
    url("./fonts/8-bit-pusab-webfont.ttf") format("truetype"),
    url("./fonts/8-bit-pusab-webfont.svg") format("svg");
}

@font-face {
  font-family: "Minecraftia";
  src: url("./fonts/minecraftia-regular-webfont.eot");
  src: url("./fonts/minecraftia-regular-webfont.eot")
      format("embedded-opentype"),
    url("./fonts/minecraftia-regular-webfont.woff") format("woff"),
    url("./fonts/minecraftia-regular-webfont.ttf") format("truetype"),
    url("./fonts/minecraftia-regular-webfont.svg") format("svg");
}

@font-face {
  font-family: "IBM Logo";
  src: url("./fonts/ibm-logo-webfont.eot");
  src: url("./fonts/ibm-logo-webfont.eot") format("embedded-opentype"),
    url("./fonts/ibm-logo-webfont.woff") format("woff"),
    url("./fonts/ibm-logo-webfont.ttf") format("truetype"),
    url("./fonts/ibm-logo-webfont.svg") format("svg");
}

body {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  margin: 0px;
  font-family: Minecraftia;
  padding: 30px;
  color: #0ee027;
  background-color: black;
  text-shadow: #0ee027 0 0 0.8rem;
  align-content: center;
  justify-content: center;
  text-align: left;
  text-justify: center;
  align-items: center;
  justify-items: center;
}

#body {
  padding: 0;
}

#root {
  width: 90%;
  height: 90%;
  /* position: fixed; */
  /* overflow: scroll; */
  /* min-width: 400px; */
  margin: 0px;
}

#prompt {
  z-index: 3;
  filter: blur(0.75px);
  margin: 20px 0px 0px 20px;
}

.App {
  /* display: flex; */
  width: 1fr;
  height: 1fr;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: IBM Logo;
  margin: 0px;
  font-size: 64px;
  text-shadow: #0ee027 0 0 0.8rem;
}

h2 {
  font-family: 8-bit-pusab;
  font-size: 1.2em;
  padding: 10px;
  margin: 0px;
}

h3 {
  margin: 2px;
  font-family: 8-bit-pusab;
  font-size: 24px;
}

h4 {
  margin: 0px;
  font-family: 8-bit-pusab;
  font-size: 20px;
}

h5 {
  margin: 0px;
  padding: 0px;
}

p {
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  margin: 8px 0px;
}

input[type="text"] {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
  outline: none;
  border: 2px solid;
  font-family: inherit;
  font-size: inherit;
  margin: 0px 8px 0px 12px;
}

textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: inherit;
  opacity: 0.5;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: inherit;
  opacity: 0.5;
}

textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  margin: 6px 0;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #0ee027;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 16px;
  border-radius: 0px;
  background: #0ee027;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #17f031;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #0ee027;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 1px;
  border-radius: 0px;
  background: #0ee027;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #0dc823;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type="range"]::-ms-fill-upper {
  background: #0ee027;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 1px;
  border-radius: 0px;
  background: #0ee027;
  cursor: pointer;
  height: 4px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #0ee027;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #17f031;
}

button {
  font-family: inherit;
  font-size: inherit;
  text-shadow: inherit;
  outline: none;
  color: inherit;
  margin: 2px;
  border-width: 2px 4px 4px 2px;
  border-style: solid;
  border-color: inherit;
  padding: 2px;
  background-color: inherit;
  display: inline-block;
  color: #0ee027;
}

button:hover {
  color: black;
  background-color: #0ee027;
}

button:active {
  position: relative;
  top: 1px;
  color: black;
  background-color: #0ee027;
}

button:disabled {
  opacity: 0.5;
}

button:hover:disabled {
  color: inherit;
  background-color: inherit;
}

#buttontext {
  margin: 8px;
}

#sortbuttons {
  display: grid;
  grid-template-columns: 150px 150px 150px 1fr;
  grid-gap: 8px;
}

.latchedbutton {
  color: black;
  background-color: #0ee027;
}

.unlatchedbutton {
  color: inherit;
  background-color: inherit;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-image: url("./assets/lines.png");
  background-size: 0.1rem 0.2rem;
  animation: flicker 0.15s infinite;
}

#masterwindow {
  margin: 20px;
  padding: 0px;
  /* width: 100%; */
  height: 100%;
  border-color: #0ee027;
  border-style: solid;
  border-width: 4px;
  position: fixed;
  height: 94%;
  overflow: hidden;
  /* -webkit-filter: blur(0.75px);
  -moz-filter: blur(0.75px);
  -o-filter: blur(0.75px);
  -ms-filter: blur(0.75px); */
  /* filter: blur(0.75px) hue-rotate(0deg) grayscale(0%) brightness(100%); */
}

#windowbar {
  display: grid;
  grid-template-columns: 1fr 50px;
  height: 42px;
  width: 100%;
  border-bottom: solid 4px;
}

#windowbarcontent {
  height: 42px;
  background: url(./assets/dither1_trans.png);
  background-repeat: repeat;
  background-size: 8px 8px;
}

#windowtext {
}

#windowbarclosebtn {
  font-family: 8-bit-pusar;
  height: 42px;
  border-left: 4px solid;
  text-align: center;
  text-justify: center;
  border: none;
  border-left: 4px solid;
}

#windowbarclosebtn::hover {
  background: black;
  border-color: #0ee027;
  color: #0ee027;
}

#windowcontent {
  /* display: grid;
  grid-template-rows: 140px 42px 1fr;
  grid-gap: 8px; */
  margin: 8px;
  /* overflow: hidden; */
}

#header {
  text-align: left;
  border-style: solid;
  border-width: 2px;
  /* width: 100%; */
  padding: 12px;
  width: auto;
  height: auto;
  margin: 0px 0px 8px 0px;
}

#logo {
  margin: 8px;
}

#navbar {
  border-style: solid;
  border-width: 2px;
  padding: 0px 0px 8px 0px;
  width: auto;
  margin: 0px 0px 8px 0px;
  text-justify: center;
}

.navbutton {
  width: 120px;
  color: inherit;
  margin: 0px;
  background-color: transparent;
  border: 0px solid;
  display: inline-block;
  color: #0ee027;
  font-family: Fipps;
  text-decoration: none;
  text-align: center;
  text-justify: center;
}
.navbutton:hover {
  color: black;
  background-color: #0ee027;
}
.navbutton:active {
  position: relative;
  top: 1px;
}

.navuserbutton {
  color: inherit;
  display: inline-block;
  width: 200px;
  align-self: right;
  justify-self: center;
  text-decoration: none;
  margin: 0px 0px 0px 12px;
}

#homebutton {
  grid-area: home;
}
#articlesbutton {
  grid-area: articles;
}
#topicsbutton {
  grid-area: topics;
}
#aboutbutton {
  grid-area: about;
}
#optionsbutton {
  grid-area: options;
}

.reactlink {
  color: inherit;
  text-decoration: none;
}

#main {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-areas: "sidebar viewport";
  grid-gap: 5px;
  padding: 0px;
  overflow-y: scroll;
  height: 520px;
  /* height: 400px; */
}

#sidebar {
  height: 1fr;
  grid-area: sidebar;
  border-style: solid;
  border-width: 2px;
  padding: 12px;
  margin: 0px 8px 0px 0px;
}

#viewport {
  grid-area: viewport;
  display: grid;
  grid-gap: 8px;
  width: auto;
  margin: 0px 8px 0px 0px;
}

#main::-webkit-scrollbar {
  width: 20px;
}

#main::-webkit-scrollbar-track {
  border: 2px solid;
  margin-left: 8px;
}

#main::-webkit-scrollbar-thumb {
  background: #0ee027;
}

#main::-webkit-scrollbar-button {
  background: #0ee027;
}

#home {
  border-style: solid;
  border-width: 2px;
}

#hometitle {
  font-family: Fipps;
  padding: 12px;
}

#homepagebody {
  padding: 16px;
}

#featuredarticle {
  padding: 16px;
}

#articleshome {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

#articletitle {
  font-family: Fipps;
  padding: 0px 0px 12px 0px;
}

#singlearticle {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

#singlearticletitle {
  font-family: Fipps;
}

#articlesubtitle {
  padding: 12px;
  border-bottom: 2px solid;
}

#singlearticlebody {
  padding: 16px;
  /* border-bottom: 2px solid; */
}

#votesbar {
  display: flex;
  grid-gap: 12px;
  grid-template-columns: 100px 50px 1fr;
  padding: 8px 8px 8px 0px;
  text-align: left;
  text-justify: left;
  justify-content: left;
  align-content: left;
}

#votesbar > div {
  display: inline-block;
}

.votebutton {
  width: 50px;
  height: 5 50px;
  margin: 0px 8px 0px 8px;
}

#votecount {
  margin: 0px 0px 0px 16px;
}
#votecounttext {
  font-size: 20px;
  margin: 12px 0px 0px 0px;
}

.articlecard {
  padding: 8px;
  border-style: solid;
  border-width: 2px;
}

#commentslist {
  border-top: 2px solid;
  padding: 12px;
}

.commenttextinput {
  background-color: inherit;
  border-style: solid;
  border-color: inherit;
  border-width: 2px;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 99%;
  height: 100px;
  text-overflow: clip;
}

#submitcommentbutton {
  margin: 12px 0px 0px 0px;
}

#commentstitle {
  font-size: 16px;
}

#commentcard {
  margin: 12px 12px 12px 60px;
  padding: 12px;
  border: 2px solid;
}

#topicshome {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
  height: 1fr;
}

#topictitle {
  font-family: Fipps;
  padding: 0px 0px 12px 0px;
}

.topiccard {
  padding: 8px;
  border-style: solid;
  border-width: 2px;
}

#articlesbytopichome {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

#articlesbyuserhome {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

.avatar {
  filter: sepia(100%) hue-rotate(180deg) saturate(200%);
}

#options {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

#optionssection {
  margin: 8px 0px;
  border: 2px solid;
  padding: 8px;
}

#slider {
  justify-content: center;
}

#dialogoverlay {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 3;
  /* display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 1fr 200px 1fr;
  grid-template-areas: "blank blank blank" "blank dialog blank" "blank blank blank"; */
  text-align: center;
  text-justify: center;
}

#dialogbox {
  display: inline-block;
  flex-direction: row;
  width: 300px;
  height: 200px;
  margin: 0px;
  padding: 0px;
  border: 4px solid;
  grid-area: dialog;
  align-self: center;
  background: black;
  margin: 300px 0px 0px 0px;
}

@media only screen and (max-width: 800px) {
  #root {
    width: 100%;
    height: 100%;
  }

  body {
    padding: 0px 0px 0px 0px;
  }
  #masterwindow {
    margin: 0px;
  }

  h1 {
    font-size: 40px;
  }

  h4 {
    font-size: 12px;
  }

  #navbar {
    height: auto;
  }

  .navbutton {
    width: 70px;
    font-family: Fipps;
  }

  #homebutton {
    font-size: 10px;
  }
  #articlesbutton {
    font-size: 10px;
  }
  #topicsbutton {
    font-size: 10px;
  }
  #aboutbutton {
    font-size: 10px;
  }
  #optionsbutton {
    font-size: 10px;
  }

  .navuserbutton {
    color: inherit;
    display: inline-block;
    width: 200px;
    align-self: right;
    justify-self: center;
    text-decoration: none;
    margin: 16px 0px 0px 12px;
    font-size: 10px;
  }

  #navuseravatar {
    height: 20px;
    width: 20px;
  }

  #main {
    grid-template-columns: auto;
    grid-template-rows: 1fr 150px;
    grid-template-areas: "viewport" "sidebar";
  }
}
